<div class="parent" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="child" *ngFor="let product of products">
        <div class="sub-child">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>{{ product.product_type }}</mat-card-title>
                    <mat-card-subtitle>{{ product.brand_name }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{ product.image }}" alt="Allen Solly Full Sleeve Shirt">
                <mat-card-content>
                    <p>
                        {{ product.description }}
                    </p>
                    <p>
                        ${{ product.price }}
                    </p>
                </mat-card-content>
                <mat-card-actions class="buttons">
                    <button mat-button color="primary" (click)="addToCart(product._id)">Add to Cart</button>
                    <button mat-button color="accent" (click)="addToWishlist(product._id)">Wishlist</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>