<footer>
    <div class="row primary">
        <div class="column about">
            <h3>Creative Designers</h3>
            <p>
                Summer Fashion is place were anyone from anywere in this world buy any kind
                of fashion products with ease.
            </p>
            <div class="social">
                <img class="brands" src="../../../assets/instagram.png" alt="Instagram">
                <img class="brands" src="../../../assets/facebook.png" alt="Facebook">
                <img class="brands" src="../../../assets/twitter.png" alt="Twitter">
                <img class="brands" src="../../../assets/youtube.png" alt="Youtube">
                <img class="brands" src="../../../assets/pinterest.png" alt="Pinterest">
            </div>
        </div>
        <div class="column links">
            <h3>Some Links</h3>

            <ul>
                <li>
                    <a href="#faq">F.A.Q</a>
                </li>
                <li>
                    <a href="#cookies-policy">Cookies Policy</a>
                </li>
                <li>
                    <a href="#terms-of-services">Terms Of Service</a>
                </li>
                <li>
                    <a href="#support">Support</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row copyright">
        <p>Copyright &copy; 2023 Creative Designers</p>
    </div>
</footer>