<nav class="nav">
    <a><img height="50px" src="../../../assets/woman.png" alt="logo" class="logo"></a>
    <!-- <h1>Summer <span>Fashion</span></h1> -->
    <!-- <div class="nav-search">
        <input type="text" placeholder="Search Products" />
        <button>Search</button>
    </div> -->
    <h2 class="headtext">
        SUMMER FASHION
    </h2>
    <ul>
        <!-- <li><a routerLink="admin-auth">Admin</a></li> -->
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="products-list">Products</a></li>
        <!-- <li><a routerLink="user-registration">Register</a></li> -->
        <li><a routerLink="about-us">AboutUs</a></li>
        <li><img src="../../../assets/user.png" [matMenuTriggerFor]="menu">
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="admin-auth">Admin</button>
                <button mat-menu-item routerLink="user-login">Login</button>
                <button mat-menu-item routerLink="user-registration">Register</button>
              </mat-menu>
        </li>
        <li><img src="../../../assets/wishlist.png" routerLink="/wishlist"></li>
        <li><img src="../../../assets/shopping-cart-add.png" routerLink="/cart"></li>
    </ul>
</nav>