.add-large-box,
.edit-large-box,
.user-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  height: 600px;
  width: 400px;
}

.edit-large-box {
  height: 300px;
  width: 400px;
}

.user-large-box {
  height: 200px;
  width: 400px;
}

.add_users {
  margin-left: 15px;
}

.delete_users {
  float: right;
  margin-right: 15px; 
}