.add-large-box,
.edit-large-box,
.user-large-box,
.deleteuser-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  height: 600px;
  width: 400px;
}

.deleteuser-large-box {
  margin-top: 10px;
  margin-bottom: 8px;
  padding: 10px;
}

.edit-large-box {
  height: 300px;
  width: 400px;
}

.user-large-box {
  height: 400px;
  width: 400px;
}

.deleteuser-large-box {
  height: 200px;
  width: 400px;
}

.user-card {
  margin-bottom: 5px;
  margin-top: 5px;
  height: 70%;
  width: 100%;
}

mat-card-title {
  margin-left: 15px;
}

.add_users {
  margin-left: 15px;
}

.delete_users {
  float: right;
  margin-right: 15px; 
}

.user-delete-buttons {
  align-self: flex-end;
}