.user-reg{
    text-align: center;
}
.user-reg h1{
    margin-top: 50px;
    margin-bottom: 45px;
    color: blueviolet;
}

.example-button-row {
    max-width: 600px;
    display: flex;
    margin: 10px 725px;
  }