<div class="parent" fxLayout="column" fxLayoutAlign="space-around center">
    <img src="../../../assets/twitter_header_photo_1.png" alt="Summer Fashion" class="logo">
    <h2>Our Story</h2>
    <div class="child">
        <pre>
        SUMMER FASHION STARTED IN THE SUMMER OF 2023. A MAN WITH A VISION:
            TO SPREAD HAPPINESS BY TURNING AN EVERYDAY ESSENTIAL INTO A
        COLOURFUL DESIGN PIECE WITH A RIGID STANDARD OF ULTIMATE QUALITY,
            CRAFTSMANSHIP AND CREATIVITY. A CONCEPT NOW BROUGHT TO
            PERFECTION BY THE SUMMER FASHION COLLECTIVE OF CREATORS.

        SUMMER FASHION FEATURES AN ALMOST ENDLESS VARIETY OF MODELS AND  
            DESIGNS, USING A BROAD SPECTRUM OF COLOR COMBINATIONS AND
                                                  ORIGINAL PATTERNS.
        </pre>
        <pre>
            GOAL : OUR GOAL IS TO PROVIDE YOU WITH THE BEST AND HAPPIEST
                                                  PRODUCTS AROUND.
        </pre>
    </div>
    <div>
        <img src="../../../assets/instagram.png" alt="Instagram" class="icons">
        <img src="../../../assets/facebook.png" alt="Facebook" class="icons">
        <img src="../../../assets/twitter.png" alt="Twitter" class="icons">
        <img src="../../../assets/youtube.png" alt="Youtube" class="icons">
        <img src="../../../assets/pinterest.png" alt="Pinterest" class="icons">
    </div>
</div>